

/* color 1 */
.site-main,
.site-nav__item__container:hover,
.site-nav__item[data-active='true'].site-nav__item--leaf>.site-nav__item__container,
.menu__list__item > a:hover {
  background-color: #1e2126 !important;
}


/* color 2 */
.site-header,
.site-subheader,
.site-sidebar,
.site-sidebar--fixed,
#js--friends-widget .module,
#js--widget-button,
.module__head,
.module__head + .module__body,
.module__foot,
.menu.site-nav-wrapper,
.menu__list
{
  background-color: #292c33 !important;
}


/* color 3 */
.module__head.util--text-align-c,
.module.module--lilypad,
.menu__head.media-block.media-block--side-alt {
background-color: #3a3a3a !important;
}


/* color 4 */
.module.module--highlight {
  background-color: #555 !important;
}


/* color 5 */
footer {
  background-color: #222 !important;
}


/* text 1 */
.site-subheader,
.menu__head.media-block.media-block--side-alt {
  color: white !important;
}


.site-main {
  color: #bbb !important;
}


/* borders */
.site-sidebar__actions,
#js--friends-widget .module,
header,
.site-sidebar,
.site-sidebar--fixed,
.site-header__logo.flex-grid.flex-grid--center-both,
.site-header__user.flex-grid.flex-grid--center-both,
#js--widget-button
{
  border-color: #1e2126 !important;
}


/* code blocks */
.highlight {
  background-color: #333 !important;
  color: white;
}


/* code highlights */
p > code,
li > code {
  background-color: darkseagreen !important;
  color: #222 !important;
}


/* numbered circles */
.text-block--readme > ol li:before {
  color: lightgreen !important;
  background-color: #565656 !important;
}


/* hide shadowing on dashboard elements */
.module__head:after {
  display: none !important;
}


/* light blue #00BCE1 */

/* makes the DM area dark */
.fc--dm-panel > div,
.fc--dm-panel > ul
 {
  background-color: #333;
  color: #bbb;
}

/* adjusts the vertical size and scroll bar of the DM input box */
textarea[id="js--dm-txt-input"] {
  height: 5em !important;
  overflow-y: auto;
  background-color: #555;
  color: #ddd;
}