
.site-main {
  background-color: #1e2126 !important;
  color: white !important;
}


.site-header,
.site-subheader,
.site-sidebar,
#js--friends-widget .module,
#js--widget-button,
.module__head,
.module__head + .module__body,
.module__foot,
.menu.site-nav-wrapper,
.menu__list
{
  background-color: #292c33 !important;
}


.module.module--highlight {
  background-color: #555 !important;
}


.module__head.util--text-align-c,
.module.module--lilypad,
.menu__head.media-block.media-block--side-alt {
background-color: #3a3a3a !important;
}

.module__head:after {
  display: none !important;
}

.site-subheader,
.menu__head.media-block.media-block--side-alt {
  color: white !important;
}

.site-sidebar__actions,
#js--friends-widget .module,
header,
.site-sidebar,
.site-header__logo.flex-grid.flex-grid--center-both,
.site-header__user.flex-grid.flex-grid--center-both,
#js--widget-button
{
  border-color: #1e2126 !important;
}

code {
  background-color: darkseagreen !important;
}

.highlight {
  background-color: #333 !important;
}

footer {
  background-color: #222 !important;
}
